body {
  font-family: 'Ubuntu', sans-serif;
  background-color: white !important;
}

a {
  text-decoration: none !important;
}

.star-svg{
  background-color:black;
}
.star-svg path{
  fill: white;

}



