.featured{
  background-color: whitesmoke;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  padding-bottom: 30%;
}

.asscesories {
  margin-top: 5%;
  margin-left: 15%;
  position: relative;
 top: 80%;
}

.whitebox {
  background-color: white;
  width: 50%;
  height: 20%;
  position: absolute;
  left: 50%;
  top: 150%;
  border-top: 30%;
}

.vl {
    border-left: 6px solid goldenrod;
    height: 100%;
    position: absolute;
    left: 0%;
    margin-left: -3px;
    top: 0;
}

.textbox {
  padding-left: 10px;
}

