.maisel {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 5%;
}

.coming {
  font-size: 160%;
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

